html,
body {
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #12000a;
  /* background: linear-gradient(to bottom, #4b0015, #12000a); */
  height: 100vh;
  color: #fff;
  text-align: center;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

/* EVERY main section */
section {
  min-height: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
}

.hero h1 {
  font-size: clamp(2.8rem, 7vw, 4.5rem);
  color: #ffccd5;
}

.music-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 50px;
}

.petals {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
}

.petal {
  position: absolute;
  top: -40px;
  width: 18px;
  height: 18px;
  background: radial-gradient(circle, #ff6b81, #c9184a);
  border-radius: 60% 40% 60% 40%;
  opacity: 0.4;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(120vh) rotate(360deg);
  }
}

@keyframes float {
  to {
    transform: translateY(-120vh);
  }
}

.quotes p {
  font-style: italic;
  margin: 40px auto;
  max-width: 500px;
}
.gallery-grid {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-columns: repeat(3, 1fr);

  /* gap: 20px; */
  max-width: 380px;
  margin: auto;
}

.gallery-grid img {
  width: 100%;
  height: auto;
  display: block;
  /* border-radius: 20px; */
  object-fit: cover;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

/* Tablet & up */
@media (min-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
  }
}

.promise .card {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 25px;
  max-width: 600px;
  margin: auto;
}

.signature {
  font-style: italic;
  opacity: 0.8;
}
.memory-card {
  background: rgba(255, 255, 255, 0.12);
  padding: 40px;
  border-radius: 25px;
  max-width: 300px;
  margin: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.memory-card:active {
  transform: scale(0.95);
}
@media (max-width: 480px) {
  h1 {
    font-size: 2.8rem;
  }

  section {
    padding: 70px 16px;
  }

  .gallery img {
    width: 90%;
    height: auto;
  }
}
